POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
APP_DB_NAME=dragonenvelopes_app
KEYCLOAK_DB_NAME=keycloak

POSTGRES_PORT=5433
PGADMIN_PORT=5050
KEYCLOAK_PORT=18080
API_PORT=18088

PGADMIN_DEFAULT_EMAIL=admin@dragonenvelopes.com
PGADMIN_DEFAULT_PASSWORD=admin

KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME=admin
KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD=admin
KEYCLOAK_REALM=dragonenvelopes
KEYCLOAK_CLIENT_ID=dragonenvelopes-api

OBSERVABILITY_ENABLE_LOKI_SINK=false
OBSERVABILITY_LOKI_URL=http://loki:3100
LOKI_PORT=3100
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
